.items__delivery {
	display: flex;
	justify-content: space-between;
	
	.map img {
		width: 300px;
		height: 300px;
	}
}

.item__delivery {
	width: 22%;

	.title {
		font-weight: 600;
    font-size: 18px;
    color: $orange;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.second-title {
		margin-top: 15px;
	}
}

.item__delivery + .item__delivery {
	margin-left: 30px;
}

