.burger {

    &__wrap {
        display: none;
				z-index: 10000;
				position: relative;
				

    }
}



.menu {

    &__burger {
    
        &-item {
            margin-top: 20px;
        }
    }

    &__contact {
        border-top: 1px solid grey;
        margin-top: 30px;
        padding-top: 20px;

        span {
            display: block;
        }
    }
    
    &__wrap {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    color: white;
    padding: 10px;
    font-size: 20px;
		transition: all .3s linear;
		
			.header {
					position: relative;
					
					&__logo {
					background-color: transparent;
					}

					&_block {
							display: flex;
					}

					&__burger {
							position: relative;
							top: -30px;

							&-item {
									margin-top: 10px;
							}
					}

					
			}

			a {
					color: white;
			}

			&.active {
				left: 0;
			}
		}

    &__body {
        padding-left: 10px;
    }

    &__info {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 20px 0;
    }
}