@font-face {
  font-family: 'Gilroy-Thin';
  src: url('./fonts/Gilroy-Black.eot');
  src: local('./fonts/Gilroy-Black'), local('Gilroy-Black'),
    url('./fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Black.woff') format('woff'),
    url('./fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url('./fonts/Gilroy-Bold.eot');
  src: local('./fonts/Gilroy-Bold'), local('Gilroy-Bold'),
    url('./fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Bold.woff') format('woff'),
    url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url('./fonts/Gilroy-Thin.eot');
  src: local('./fonts/Gilroy-Thin'), local('Gilroy-Thin'),
    url('./fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Thin.woff') format('woff'),
    url('./fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url('./fonts/Gilroy-Extrabold.eot');
  src: local('./fonts/Gilroy-Extrabold'), local('Gilroy-Extrabold'),
    url('./fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Extrabold.woff') format('woff'),
    url('./fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
